.btn-container{
    display: flex;
    gap: 0.5rem;
}

.startBtn{
    background-color: #d303cf;
    color: aqua;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
}

